/* TELA 2 */
section.tela2{
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #FAFAFA;
}

/* Quadro com imagem e título do Quiz */

div.tituloQuizComImagem{
    margin-top: 69px;
    width: 100%;
    height: 227px;
    position: relative;
}

div.tituloQuizComImagem img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.desfocarImagem{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

div.tituloQuizComImagem div.tituloQuiz{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.tituloQuizComImagem p{
    font-size: 39px;
    color: #FFF;
}

/* Container com as perguntas */
div.containerTela2{
    width: 70%;
    margin: 0 auto;
}

div.pergunta{
    background-color: #FFF;
    width: 100%;
    margin: 42px 0px;
    padding: 27px 35px;
}

div.pergunta div.tituloPergunta{
    height: 138px;
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.pergunta div.corPergunta1{
    background-color: #434CA0;
}

div.pergunta div.corPergunta2{
    background-color: #A0438D;
}

div.pergunta h3{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
}

div.containerRespostas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.resposta{
    width: 48%;
    margin: 9px 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.resposta div{
    width: 100%;
    height: 175px;
}

div.resposta img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.resposta h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
}

/* Verificar se a resposta esta certa ou errada */

div.respostaCerta h4{
    color: #009C22;
}

div.respostaCerta img{
    border: 4px solid #009C22;
}

div.respostaErrada{
    position: relative;
}

div.respostaCerta{
    position: relative;
}

div.desfocarDiv{
    position: absolute;
    top: 0;
    background-color: rgba(255, 255, 255, 0.6);
}

div.respostaErrada h4{
    color: rgba(255, 75, 75, 0.6);
}

/* Container com a resposta do Quizz */

div.respostaQuiz{
    background-color: #FFF;
    width: 100%;
    margin: 42px 0px;
    padding: 27px 35px;
}

div.tituloResposta{
    height: 100px;
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.corResposta{
    background-color: #EC362D;
}

div.tituloResposta h3{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
}

div.textoResposta{
    display: flex;
}

div.imagemResposta img{
    width: 364px;
    height: 273px;
    object-fit: cover;
}

div.textoRespostaQuiz{
    padding: 0 15px;
}

div.textoRespostaQuiz p{
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
}

/* Botões de ações */

div.botoes{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

div.botoes button.botaoReiniciar{
    background-color: #EC362D;
    width: 260px;
    height: 52px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: none;
    color: #FFF;
    font-size: 21px;
    text-align: center;
    cursor: pointer;
}

div.botoes button.botaoReiniciar:hover{
    background-color: #FFF;
    border: 1px solid #EC362D;
    color: #EC362D;
}

div.botoes button.botaoVoltarHome{
    border: none;
    color: #818181;
    width: 220px;
    height: 44px;
    text-align: center;
    background-color: #FAFAFA;
    font-size: 21px;
    cursor: pointer;
    border-radius: 15px;
}

div.botoes button.botaoVoltarHome:hover{
    color: #818181;
    border: 1px solid #818181;
}

.resposta-escondida {
    display: none;
}

@media (max-width: 1100px){
    div.tituloQuizComImagem{
        height: 170px;
    }

    div.tituloQuizComImagem p{
        font-size: 27px;
    }

    div.containerTela2{
        width: 85%;
        margin: 0 auto;
    }

    div.pergunta{
        margin: 30px 0px;
        padding: 15px;
    }

    div.pergunta h3{
        font-size: 19px;
    }

    
    div.resposta{
        margin: 7px 0px;
    }

    div.resposta h4{
        font-size: 16px;
        line-height: 25px;
    }

    div.respostaQuiz{
        margin: 30px 0px;
        padding: 15px;
    }
    
    div.tituloResposta h3{
        font-size: 19px;
    }

    div.imagemResposta img{
        width: 300px;
        height: 225px;
        object-fit: cover;
    }

    div.textoRespostaQuiz p{
        font-size: 18px;
    }

    div.pergunta div.tituloPergunta{
        height: 89px;
    }

}

@media (max-width: 600px){
    div.tituloQuizComImagem{
        height: 142px;
    }

    div.tituloQuizComImagem p{
        font-size: 20px;
    }

    div.containerTela2{
        width: 95%;
        margin: 0 auto;
    }

    div.pergunta{
        margin: 20px 0px;
        padding: 10px;
    }

    div.pergunta h3{
        font-size: 17px;
    }

    div.resposta{
        margin: 5px 0px;
    }

    div.resposta h4{
        font-size: 13px;
        line-height: 20px;
    }

    div.respostaQuiz{
        margin: 20px 0px;
        padding: 10px;
    }
    
    div.tituloResposta h3{
        font-size: 17px;
    }
    
    div.textoResposta{
        display: flex;
        flex-direction: column;
    }
    
    div.textoResposta div.imagemResposta{
        width: 100%;
        height: 273px;
    }
    
    div.textoRespostaQuiz{
        width: 100%;
    }

    div.imagemResposta img{
        width: 100%;
        height: 270px;
        object-fit: cover;
    }

    div.textoRespostaQuiz{
        padding: 0;
    }
    
    div.textoRespostaQuiz p{
        font-size: 16px;
    }

    div.resposta div{
        width: 163px;
        height: 113px;
    }
}