/* TELA 3 */
section.tela3{
    position: fixed;
    top: 0px;
    left: 0;
    background-color: #FAFAFA;
}

div.containerTela3-1{
    width: 600px;
    margin: 0 auto;
}

div.containerTela3-2{
    width: 600px;
    margin: 0 auto;
}

div.containerTela3-3{
    width: 600px;
    margin: 0 auto;
}

div.paginaCriarQuiz{
    border: 1px solid #FAFAFA;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.paginaCriarQuiz h5{
    margin-top: 71px;
    margin-bottom: 27px;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

div.paginaCriarQuiz div.form{
    background-color: #FFF;
    width: 100%;
    margin-bottom: 25px;
}

div.form h6{
    font-size: 20px;
    font-weight: 700;
    margin: 27px 17px 15px 17px;
}

div.form input{
    width: 564px;
    height: 46px;
    margin: 4.5px 16px;
    padding: 0 23px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    font-size: 19px;
    color: #D1D1D1;
}

div.form input:first-child{
    margin-top: 20px;
}

div.form input:last-child{
    margin-bottom: 20px;
}

div.form input::placeholder{
    font-style: italic;
}

div.quadroQuiz{
    border-radius: 5px;
    width: 500px;
    height: 266px;
    position: relative;
}

div.quadroQuiz img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.quadroQuiz div.degrade{
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

div.quadroQuiz p{
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 54px;
    margin: 10px;
    text-align: left;
    color: #FFF;
    font-size: 23px;
    line-height: 27px;
    font-weight: 400;
    padding: 0 18px;
    display: flex;
    align-items: center;
}

div.criarPergunta{
    width: 100%;
}

div.pergunta-fechada{
    width: 100%;
}

div.pergunta-aberta{
    padding-top: 10px;
}

div.form-fechado{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.form-fechado h6{
    margin: 30px;
}

div.form-fechado ion-icon{
    font-size: 26px;
    margin-right: 20px;
    cursor: pointer;
}

div.paginaCriarQuiz button{
    width: 369px;
    height: 54px;
    text-align: center;
    font-size: 21px;
    background-color: #EC362D;
    color: #FFF;
    border: none;
    border-radius: 15px;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: pointer;
}

div.paginaCriarQuiz button:hover{
    background-color: #FFF;
    color: #EC362D;
    border: 1px solid #EC362D;
}

div.paginaCriarQuiz button.botaoAcessarQuizz{
    width: 220px;
    height: 44px;
    margin-top: 80px;
    margin-bottom: 9px;
}

div.paginaCriarQuiz button.botaoVoltarHome{
    width: 220px;
    height: 44px;
    background-color: #FAFAFA;
    color: #818181;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 9px;
    margin-bottom: 80px;
}

div.paginaCriarQuiz button.botaoVoltarHome:hover{
    border: 1px solid #818181;
}

@media (max-width: 1100px){
    
}

@media (max-width: 600px){
    div.containerTela3-1{
        width: 100%;
    }
    
    div.containerTela3-2{
        width: 100%;
    }
    
    div.containerTela3-3{
        width: 100%;
    }

    div.form input{
        width: 460px;
        height: 46px;
        margin: 4.5px 16px;
        padding: 0 23px;
    }
}